<div style="display: flex; ">
<div>
  <pre>
    
    Subjects
       Subject
       AsyncSubject
       BehaviorSubject
       ReplaySubject
    Operators
        Combination 
          + combineLatest
          + concat 
          + forkJoin
          + merge  
          + startWith
          + withLatestFrom
          Error Handling 
          + catch / catchError
          + retry 
          + retryWhen
          Filtering
          + debounce
          + debounceTime
          + distinctUntilChanged
          + distinct
          + take 
          + takeUntil 
          + first
          + last
          Multicasting 
          + multicast
          + share 
          + shareReplay 
          Transformation
          + map
          + bufferTime
          + concatMap 
          + mergeMap / flatMap 
          + scan 
          + switchMap 
          Utility
          + tap / do 
          + delay
          + delayWhen
  
  </pre>
  <ul>
  
    <li>
      <h2><a rel="noopener" routerLink="/rxjs-subject">Subject</a></h2>
    </li>
    <li>
      <h2><a rel="noopener" routerLink="/rxjs-comination">Comination</a></h2>
    </li>
    <li>
      <h2><a rel="noopener" routerLink="/share">Multicasting Share</a></h2>
    </li>
    <li>
      <h2><a rel="noopener" routerLink="/share-replay">Multicasting Share replay</a></h2>
    </li>
   
   
  </ul>
</div>

<div></div>
<router-outlet></router-outlet>

<app-search></app-search>

</div>